#nav {
  padding: 0.1em 1em;
}


.navbar {
  display: flex;
  background-color:  rgb(255, 255, 255);
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
}

.brand {
  font-size: 1.2em;
}

.brand span {
  font-weight: 900;
  text-transform: uppercase;
}

.links_list {
  display: flex;
  list-style: none;
}

.links_list li {
  margin-right: 1em;
}

.links_list li a {
  padding: 0.4em 0.6em;
}

.links_list .active {
  background-color: #cbbdaa50;
  padding: 12px;
  color: #f57c36;
}


.links_list .active:hover {
  color: #9c6032;
}


.btn_logout {
  background-color: #9c6032;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 90px;
  font-weight: bold;
  border: none;
  padding: 7px 7px;


}

.btn_logout:hover {
  background-color: #96500a;
  color: #fff;
}
