body {
  margin: 0;
  padding: 0;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(38, 38, 38, 0.87);
  background-color: rgb(245, 236, 220);

}

a {
  font-weight: 500;
  color: #fe7f1e;
  text-decoration: inherit;
}
a:hover {
  color: #9c4808;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 200;
  font-family: inherit;
  background-color: #d21d1d;
  cursor: pointer;
}
button:hover {
  border-color: #dd7931;
}

input {
  border: none;
  border-radius: 2px;
  margin: 0;
}

input::placeholder,
textarea::placeholder {
  font-family: Helvetica;
  background-color: rgb(255, 255, 255);
  padding-left: 0.2em;
}